*{
    margin:0;
    padding: 0; 
}

body{
    background-color: antiquewhite;
}
.formContainer{
    margin: 2em auto;
    padding: 0.5em;
    border: 1px solid white;
    background-color: gainsboro; 
    font-size: 14px;
    font-family: Tahoma;
    color: #3c3a43; 
    max-width: 600px;
    
    .group{
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 0.5em;
        
        label{          
            padding-right: 0.5em;
            padding-left: 0.5em;     
        }
    }
    input[type="text"] {
        border: 1px solid #cccccc; 
        background: #ffffff !important; 
        outline: none;
        padding-left: 0.5em;         
        height: 24px;
        width: 100%;
    }
    input[type=button] {
        border: 1px solid #cccccc; 
        background: #ffffff !important; 
        outline: none; 
        width: 100%;
        height: 24px;
        &:hover{
            background: #3c3a43 !important; 
            color: #cccccc;
        }
        &:active{
            background: gainsboro !important; 
        }

    }
}
p{
    text-align: center;
    color: cadetblue;
}
.container{
    margin: 2em;
    display: flex;
    justify-content: center;    
    
    table{
        border: 1px solid white;
        background-color: gainsboro;

        table-layout: fixed;     
        border-collapse: collapse;       

        td{
            width: 2em;
            height: 2em;
            border: 1px solid white;
            text-align: center;
            vertical-align: middle;

        }
    }
}